@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <p>This page is used for testing currently. It will be updated or deleted.</p>

    <h4>Departments List Test</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Department Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Departments)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
